<p-fluid>
</p-fluid>
<p-toast></p-toast>
<div class="card">
    <p-table #dt1 [value]="projectList" dataKey="SlNo" [paginator]="true" [rowsPerPageOptions]="[5, 10, 20]" [rows]="10"
        stripedRows [rowHover]="true" [showGridlines]="true" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" responsiveLayout="scroll"
        [expandedRowKeys]="expandedRowsKeys" (onRowExpand)="onRowExpand($event)"
        (onRowCollapse)="onRowCollapse($event)">

        <!-- Caption -->
        <ng-template pTemplate="caption">
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <p-iconfield iconPosition="left" class="mr-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" placeholder="Search keyword" />
                </p-iconfield>
                <button pButton label="Save" class="p-button-outlined mb-2 m-2" icon="pi pi-save"></button>
            </div>
        </ng-template>

        <!-- Header -->
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem" rowspan="2"></th> <!-- Expand icon column -->
                <th style="min-width: 5rem" rowspan="2">Sl. No.</th>
                <th style="min-width: 10rem" rowspan="2">Customer</th>
                <th style="min-width: 8rem" rowspan="2">P-Code</th>
                <th style="min-width: 10rem" rowspan="2">Projects</th>
                <th style="min-width: 10rem" rowspan="2">State</th>
                <th style="min-width: 10rem" rowspan="2">SPV</th>
                <th style="min-width: 16rem" rowspan="2">Project Qty</th>
                <th style="min-width: 14rem" rowspan="2">Location Number</th>
                <th style="min-width: 14rem; text-align: center;" colspan="4">Pre-Commissioning</th>
                <th style="min-width: 14rem; text-align: center;" colspan="9">Commissioning</th>
                <th style="min-width: 14rem; text-align: center;" colspan="3">STPT</th>
            </tr>
            <tr>
                <th>Bottom Commissioning</th>
                <th>Nacelle Commissioning</th>
                <th>Hub Commissioning</th>
                <th style="min-width: 8rem;">Sign Off</th>
                <th>Commissioning Plan</th>
                <th style="min-width: 8rem;">USS Charge</th>
                <th style="min-width: 8rem;">WTG Charge</th>
                <th style="min-width: 8rem;">Converter Test</th>
                <th style="min-width: 8rem;">Generation Trial</th>
                <th>Real Time Validation</th>
                <th>MPCC/PPC</th>
                <th style="min-width: 8rem;">COD</th>
                <th>Certificate Sign Off</th>
                <th style="min-width: 10rem">STPT Start Date</th>
                <th style="min-width: 10rem">STPT End Date</th>
                <th style="min-width: 10rem">STPT Sign Off</th>
            </tr>
        </ng-template>

        <!-- Body -->
        <ng-template pTemplate="body" let-project let-expanded="expanded">
            <tr>
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="project"
                        class="p-button-text p-button-rounded p-button-plain"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                    </button>
                </td>
                <td></td>
                <td style="min-width: 7rem"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </ng-template>

        <!-- Expanded Row -->
        <ng-template pTemplate="rowexpansion" #expandedrow let-project>
            <tr *ngFor="let exp of valuesofEXP">
                <td colspan="2" style="text-align: center;">
                    {{exp.name}}
                </td>
                <td>
                    <div>
                        <label for="anchor-cage-serial" class="block mb-2 font-semibold">Project Code</label>
                        <input type="text" pInputText id="anchor-cage-serial" fluid />
                    </div>
                </td>
                <td>
                    <div>
                        <label for="location-no" class="block mb-2 font-semibold">Site Name</label>
                        <input type="text" pInputText id="location-no" fluid />
                    </div>
                </td>
                <td>
                    <div>
                        <label for="location-no" class="block mb-2 font-semibold">Location Name</label>
                        <input type="text" pInputText id="location-no" fluid />
                    </div>
                </td>
                <td>
                    <div>
                        <label for="top-flange" class="block mb-2 font-semibold">LTF Documents Received Yes/No</label>
                        <input type="text" pInputText id="top-flange" fluid />
                    </div>
                </td>
                <td>
                    <div>
                        <label for="bottom-flange" class="block mb-2 font-semibold">LTF Documents Received Status in
                            %</label>
                        <input type="text" pInputText id="bottom-flange" fluid />
                    </div>
                </td>
                <td>
                    <div>
                        <label for="soil-test" class="block mb-2 font-semibold">Long Storage Maintenance Documents
                            Received Yes/No</label>
                        <input type="text" pInputText id="soil-test" fluid />
                    </div>
                </td>
                <td>
                    <div>
                        <label for="soil-test" class="block mb-2 font-semibold">Long Storage Maintenance Documents
                            Received Status</label>
                        <input type="text" pInputText id="soil-test" fluid />
                    </div>
                </td>
                <td>
                    <div>
                        <label for="soil-test" class="block mb-2 font-semibold">HOTO Audit Yes/No</label>
                        <input type="text" pInputText id="soil-test" fluid />
                    </div>
                </td>
                <td>
                    <div>
                        <label for="soil-test" class="block mb-2 font-semibold">Punch Points Shared Yes/No</label>
                        <input type="text" pInputText id="soil-test" fluid />
                    </div>
                </td>
                <td>
                    <div>
                        <label for="soil-test" class="block mb-2 font-semibold">Punch Points Shared Date</label>
                        <p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"></p-datepicker>
                    </div>
                </td>
                <td>
                    <div>
                        <label for="soil-test" class="block mb-2 font-semibold">Punch Points Closer Status in %</label>
                        <input type="text" pInputText id="soil-test" fluid />
                    </div>
                </td>
                <td>
                    <div>
                        <label for="soil-test" class="block mb-2 font-semibold">HOTO Certificate Signed Yes/No</label>
                        <input type="text" pInputText id="soil-test" fluid />
                    </div>
                </td>
                <td>
                    <div>
                        <label for="soil-test" class="block mb-2 font-semibold">HOTO Certificate Signed Date</label>
                        <p-datepicker appendTo="body" styleClass="w-full" placeholder="Select Date"></p-datepicker>
                    </div>
                </td>
            </tr>
        </ng-template>

        <!-- Empty message -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6" class="text-center">No projects found.</td>
            </tr>
        </ng-template>
    </p-table>


</div>